/Average
/Bank Application
/Battleship Game
/Binary Digits
/Deque
/Divisible
/Greatest Common Divisor
/Linked List
/Matrix Multiplication
/Modified Sort Methods
/Polynomial Coefficients
/Preorder Tree Matrix
/Radius
/Rectangle
/Remove People Queue
/SearchKey
/Smallest Gap
/Sorting
/Student
/Sum of Squares
/Zipped
/__pycache__